chupachupa-server/ChupaChupa-Service-Test/Service References/ChupaChupaService/ChupaChupa.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ChupaChupa.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ChupaChupa.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RssChannels" nillable="true" type="tns:ArrayOfRssChannel" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfRssChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RssChannel" nillable="true" type="tns:RssChannel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRssChannel" nillable="true" type="tns:ArrayOfRssChannel" />
  <xs:complexType name="RssChannel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cloud" nillable="true" type="tns:Cloud" />
      <xs:element minOccurs="0" name="Copyright" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Docs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Generator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="tns:Image" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastBuildDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagingEditor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RssCategory" nillable="true" type="tns:ArrayOfRssCategory" />
      <xs:element minOccurs="0" name="RssItems" nillable="true" type="tns:ArrayOfRssItem" />
      <xs:element minOccurs="0" name="RssLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkipDays" nillable="true" type="tns:ArrayOfSkipDays" />
      <xs:element minOccurs="0" name="SkipHours" nillable="true" type="tns:ArrayOfSkipHours" />
      <xs:element minOccurs="0" name="TextInput" nillable="true" type="tns:TextInput" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ttl" type="xs:int" />
      <xs:element minOccurs="0" name="WebMaster" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RssChannel" nillable="true" type="tns:RssChannel" />
  <xs:complexType name="Cloud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Protocol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterProcedure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cloud" nillable="true" type="tns:Cloud" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="ArrayOfRssCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RssCategory" nillable="true" type="tns:RssCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRssCategory" nillable="true" type="tns:ArrayOfRssCategory" />
  <xs:complexType name="RssCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RssCategory" nillable="true" type="tns:RssCategory" />
  <xs:complexType name="ArrayOfRssItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RssItem" nillable="true" type="tns:RssItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRssItem" nillable="true" type="tns:ArrayOfRssItem" />
  <xs:complexType name="RssItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enclosure" nillable="true" type="tns:Enclosure" />
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PubDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RssCategory" nillable="true" type="tns:ArrayOfRssCategory" />
      <xs:element minOccurs="0" name="RssChannel" nillable="true" type="tns:RssChannel" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="tns:Source" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RssItem" nillable="true" type="tns:RssItem" />
  <xs:complexType name="Enclosure">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Enclosure" nillable="true" type="tns:Enclosure" />
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Source" nillable="true" type="tns:Source" />
  <xs:complexType name="ArrayOfSkipDays">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkipDays" nillable="true" type="tns:SkipDays" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkipDays" nillable="true" type="tns:ArrayOfSkipDays" />
  <xs:complexType name="SkipDays">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkipDays" nillable="true" type="tns:SkipDays" />
  <xs:complexType name="ArrayOfSkipHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkipHours" nillable="true" type="tns:SkipHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkipHours" nillable="true" type="tns:ArrayOfSkipHours" />
  <xs:complexType name="SkipHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hour" type="xs:short" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkipHours" nillable="true" type="tns:SkipHours" />
  <xs:complexType name="TextInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RssChannel" nillable="true" type="tns:RssChannel" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextInput" nillable="true" type="tns:TextInput" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="IdEntity" type="xs:long" />
      <xs:element minOccurs="0" name="LoginMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OAuthToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RssChannel" nillable="true" type="tns:ArrayOfRssChannel" />
      <xs:element minOccurs="0" name="RssItemsRead" nillable="true" type="tns:ArrayOfRssItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>