chupachupa-server/ChupaChupa-Service-Test/Service References/ChupaChupaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceContractImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ChupaChupa.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceContract_authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticate" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_disonnect_InputMessage">
    <wsdl:part name="parameters" element="tns:disonnect" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserId" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_changePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_changePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategories" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_addCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:addCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_addCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_dropCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:dropCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_dropCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:dropCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getRssChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:getRssChannels" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getRssChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRssChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_addChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:addChannel" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_addChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:addChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_dropChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:dropChannel" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_dropChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:dropChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getRssItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getRssItems" />
  </wsdl:message>
  <wsdl:message name="IServiceContract_getRssItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRssItemsResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServiceContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/authenticate" message="tns:IServiceContract_authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/authenticateResponse" message="tns:IServiceContract_authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="disonnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/disonnect" message="tns:IServiceContract_disonnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/getUserId" message="tns:IServiceContract_getUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/getUserIdResponse" message="tns:IServiceContract_getUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="changePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/changePassword" message="tns:IServiceContract_changePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/changePasswordResponse" message="tns:IServiceContract_changePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/getCategories" message="tns:IServiceContract_getCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/getCategoriesResponse" message="tns:IServiceContract_getCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="addCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/addCategory" message="tns:IServiceContract_addCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/addCategoryResponse" message="tns:IServiceContract_addCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="dropCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/dropCategory" message="tns:IServiceContract_dropCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/dropCategoryResponse" message="tns:IServiceContract_dropCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getRssChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/getRssChannels" message="tns:IServiceContract_getRssChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/getRssChannelsResponse" message="tns:IServiceContract_getRssChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="addChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/addChannel" message="tns:IServiceContract_addChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/addChannelResponse" message="tns:IServiceContract_addChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="dropChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/dropChannel" message="tns:IServiceContract_dropChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/dropChannelResponse" message="tns:IServiceContract_dropChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="getRssItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceContract/getRssItems" message="tns:IServiceContract_getRssItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceContract/getRssItemsResponse" message="tns:IServiceContract_getRssItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IServiceContract" type="tns:IServiceContract">
    <wsp:PolicyReference URI="#WSHttpBinding_IServiceContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticate">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disonnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/disonnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getUserId">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/getUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/getCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCategory">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/addCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dropCategory">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/dropCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRssChannels">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/getRssChannels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addChannel">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/addChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dropChannel">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/dropChannel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRssItems">
      <soap12:operation soapAction="http://tempuri.org/IServiceContract/getRssItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceContractImpl">
    <wsdl:port name="WSHttpBinding_IServiceContract" binding="tns:WSHttpBinding_IServiceContract">
      <soap12:address location="https://rd00155d522fc9/servicecontractimpl/ServiceContractImpl.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://rd00155d522fc9/servicecontractimpl/ServiceContractImpl.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>