chupachupa-desktopapp/Chupachupa-DesktopApp-Test/Service References/PrivateService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" />
  <xs:element name="authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authenticateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getCategoriesResult" nillable="true" type="q1:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getCategoryByIdResult" nillable="true" type="q2:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="addCategoryResult" nillable="true" type="q3:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropCategoryWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropCategoryWithIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dropCategoryWithCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropCategoryWithCategoryNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="renameCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="renameCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssChannels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssChannelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getRssChannelsResult" nillable="true" type="q4:ArrayOfRssChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssChannelsInCategoryWithIdCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssChannelsInCategoryWithIdCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getRssChannelsInCategoryWithIdCategoryResult" nillable="true" type="q5:ArrayOfRssChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssChannelsInCategoryWithCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssChannelsInCategoryWithCategoryNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getRssChannelsInCategoryWithCategoryNameResult" nillable="true" type="q6:ArrayOfRssChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChannelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChannelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getChannelByIdResult" nillable="true" type="q7:RssChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addChannelInCategoryWithIdCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addChannelInCategoryWithIdCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="addChannelInCategoryWithIdCategoryResult" nillable="true" type="q8:RssChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addChannelInCategoryWithCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addChannelInCategoryWithCategoryNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="addChannelInCategoryWithCategoryNameResult" nillable="true" type="q9:RssChannel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveChannelToCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldCategoryId" type="xs:long" />
        <xs:element minOccurs="0" name="newCategoryId" type="xs:long" />
        <xs:element minOccurs="0" name="idChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveChannelToCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dropChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropChannelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dropChannelFromCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
        <xs:element minOccurs="0" name="idChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dropChannelFromCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setChannelAsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setChannelAsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setChannelAsUnread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setChannelAsUnreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssItemsWithChannelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRssChannel" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssItemsWithChannelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getRssItemsWithChannelIdResult" nillable="true" type="q10:ArrayOfRssItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssItemsWithCategoryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssItemsWithCategoryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getRssItemsWithCategoryIdResult" nillable="true" type="q11:ArrayOfRssItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRssItem" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRssItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ChupaChupa.Service.Message" minOccurs="0" name="getRssItemByIdResult" nillable="true" type="q12:RssItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setItemAsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRssItem" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setItemAsReadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setItemAsUnread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRssItem" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setItemAsUnreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>